/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
	default_transform: keymap_transform {
		compatible = "zmk,matrix-transform";
		rows = <1>;
		columns = <16>;
		map = <
			RC(0, 4) RC(0, 5) RC(0, 6) RC(0, 7)
			RC(0, 0) RC(0, 1) RC(0, 2) RC(0, 3)
			RC(0,12) RC(0,13) RC(0,14) RC(0,15)
			RC(0, 8) RC(0, 9) RC(0,10) RC(0,11)
		>;
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp N9 &kp N8 &kp N7 &rgb_ug RGB_TOG
				&kp N6 &kp N5 &kp N4 &rgb_ug RGB_EFF
				&kp N3 &kp N2 &kp N1 &rgb_ug RGB_EFR
				&kp N0 &trans &trans &trans
			>;
		};
	};
};
