/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define L1 0
#define L1_FN 1

/ {
	keymap {
		compatible = "zmk,keymap";

		layer_1 {
			bindings = <
				&kp N1    &kp N2    &kp N3    &kp N4    &kp C_PP
				&kp N5    &kp N6    &kp N7    &kp N8    &none
				&kp N9    &kp N0    &kp UP    &kp RET   &kp C_MUTE
				&mo L1_FN &kp LEFT  &kp DOWN  &kp RIGHT
			>;
			sensor-bindings = <
				&inc_dec_kp C_BRI_DEC C_BRI_INC
				&inc_dec_kp DOWN UP
				&inc_dec_kp C_VOL_DN C_VOL_UP
			>;
		};

		layer_1_fn {
			bindings = <
				&rgb_ug RGB_SPI   &rgb_ug RGB_SPD   &none            &none            &trans
				&rgb_ug RGB_SAI   &rgb_ug RGB_SAD   &none            &none            &trans
				&rgb_ug RGB_TOG   &rgb_ug RGB_EFF   &rgb_ug RGB_HUI  &none            &trans
				&trans            &rgb_ug RGB_BRI   &rgb_ug RGB_HUD  &rgb_ug RGB_BRD
			>;
		};
	};
};
